backend/API/error.log
backend/API/info.log
thesis/thesis template.pdf
thesis/thesis.aux
thesis/thesis.bbl
thesis/thesis.blg
thesis/thesis.log
thesis/thesis.out
thesis/thesis.pdf
thesis/thesis.synctex.gz
thesis/thesis.toc
